/* Header */
header {
    height: 50px;
    padding: 15px;
    background-color: lightcoral;
}

header nav {
    display: flex;
    justify-content: space-between;
   }

/* Main */
main {
    padding: 15px;
    background-color: rgb(187, 195, 224);
}

.claim {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/perro.jpg);
}

.claim h1 {
    color: white;
}

.features {
    display: flex;
}

.features .feature {
    text-align: center;
    padding: 15px;
}

.feature i {
    font-size: 60px;
}

.card{
    height: 50px;
    padding: 15px;
    border: solid 3px lightgreen;
}

.card:first-of-type{
    background-color: lightgrey;
}

.card:last-of-type{
    background-color: rgb(130, 223, 175);
}

/* Footer */
footer {
    height: 60px;
    padding: 20px;
    background-color: lightpink;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
