/* Header */

/* Header antiguo
header {
    height: 50px;
    padding: 15px;
    background-color: lightcoral;
}

header nav {
    display: flex;
    justify-content: space-between;
   }
*/


/* Main */
main {
    padding: 15px;
    background-color: rgb(187, 195, 224);
}
/* Container antiguo dentro de Main
.claim {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/perro.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
}

.claim h1 {
    color: black;
    padding: 12px;
}
*/

.features {
    display: flex;
}

.features .feature {
    text-align: center;
    padding: 15px;
}

.feature i {
    font-size: 60px;
}

.card{
    height: 50px;
    padding: 15px;
    border: solid 3px lightgreen;
}

.card:first-of-type{
    background-color: lightgrey;
}

.card:last-of-type{
    background-color: rgb(130, 223, 175);
}

/* Footer */
footer {
    height: 60px;
    padding: 20px;
    background-color: lightpink;
}

/** Cuando la pantalla se ponga en 320px se hará más pequeña la frase  */
@media (max-width: 320px) {
    span {
        font-size: 10px;
    }
}

/** Pendiente revisar
@media (max-width: 767px) {
    .claim {
        background-image: url(../images/perro.jpg);
    }
}
*/

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
